@import 'config';
@import 'utilities';
@import 'form';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    // color: $prim-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $prim-color;
    opacity: 0.9;
    a {
        color: white;
        padding: 0.45rem;
        margin: 0 0.25rem;
        &:hover {
            color: $prim-color;
        }
    }
}

ul {
    display: flex;
    margin: auto 0;
}

// landing
.landing {
    position: relative;
    background: url("../img/showcase.jpg")no-repeat center center/cover;
    height: 100vh;
    &-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

// profiles
.profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    border-radius: 5px;
    .profile-list {
        flex-direction: column;
    }
}

.profile-grid {
    display: grid;
    grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
    grid-gap: 1rem;
    .profile-top {
        grid-area: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        .myname {
            color: #fff;
        }
        img {
            width: 290px;
        }
        .social-icon {
            color: #fff;
            margin: 0 0.3rem;
            font-size: 2rem;
            transition: 1s;
            &:hover {
                color: $dark-color;
                transform: translateX(15px);
            }
        }
    }
    .profile-about {
        grid-area: about;
        text-align: center;
        border-radius: 5px;
        .skills {
            display: flex;
            justify-content: center;
        }
    }
    .profile-exp {
        grid-area: exp;
        border-radius: 5px;
    }
    .profile-edu {
        grid-area: edu;
        border-radius: 5px;
    }
    .profile-github {
        grid-area: github;
        border-radius: 5px;
        .repo {
            display: flex;
            border-radius: 5px;
            &>div:first-child {
                flex: 7;
                flex-basis: 70%;
            }
            &>div:last-child {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }
    }
}