@import 'config';
@import 'utilities';
@import 'form';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    transition: 1s;
    div>img {
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 3s;
        -moz-animation: fadeIn 3s;
        -o-animation: fadeIn 3s;
        -ms-animation: fadeIn 3s;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

a {
    text-decoration: none;
    // color: $prim-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $prim-color;
    opacity: 0.9;
    a {
        color: white;
        padding: 0.45rem;
        margin: 0 0.25rem;
        &:hover {
            color: $prim-color;
        }
    }
    ul {
        display: flex;
        margin: auto 0;
        align-items: center;
        .translate {
            padding: 0.4rem 0.8rem;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            padding: 0 .6875rem;
            i {
                font-size: 1.5rem;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                right: -0.75rem;
                background-color: #f9f9f9;
                -webkit-box-shadow: 0rem .5rem 1rem 0rem rgb(0 0 0 / 20%);
                box-shadow: 0rem .5rem 1rem 0rem rgb(0 0 0 / 20%);
                padding: 0;
                text-align: right;
                z-index: 1;
                border-radius: .3125rem .3125rem .3125rem .3125rem;
                ul {
                    display: block;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    li {
                        margin: .125rem;
                        button {
                            margin: .3125rem .3125rem;
                            box-shadow: 0rem .5rem 1rem 0rem rgb(0 0 0 / 20%);
                        }
                        input {
                            margin: .3125rem .3125rem;
                            padding: 6.4px 12.8px;
                            box-shadow: 0rem .5rem 1rem 0rem rgb(0 0 0 / 20%);
                        }
                    }
                }
            }
            &:hover .dropdown-content {
                display: block;
            }
        }
    }
}

ul {
    display: flex;
    margin: auto 0;
}

// landing
.landing {
    position: relative;
    background: url("../img/showcase.jpg")no-repeat center center/cover;
    height: 100vh;
    &-inner {
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

// profiles
.profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    border-radius: 5px;
    .profile-list {
        flex-direction: column;
    }
}

.profile-grid {
    display: grid;
    grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
    grid-gap: 1rem;
    .profile-top {
        grid-area: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        .myname {
            color: #fff;
        }
        img {
            width: 290px;
        }
        .social-icon {
            color: #fff;
            margin: 0 0.3rem;
            font-size: 2rem;
            transition: 1s;
            &:hover {
                color: $dark-color;
                transform: translateX(15px);
            }
        }
    }
    .profile-about {
        grid-area: about;
        text-align: center;
        border-radius: 5px;
        .skills {
            display: flex;
            justify-content: center;
        }
    }
    .profile-exp {
        grid-area: exp;
        border-radius: 5px;
    }
    .profile-edu {
        grid-area: edu;
        border-radius: 5px;
    }
    .profile-github {
        grid-area: github;
        border-radius: 5px;
        .repo {
            display: flex;
            border-radius: 5px;
            &>div:first-child {
                flex: 7;
                flex-basis: 70%;
            }
            &>div:last-child {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                ul {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.dash {
    margin-top: 4rem;
    .dash-contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dash-buttons {
            display: flex;
            justify-content: center;
            .dashbtn {
                padding: 0.6rem .8rem;
            }
        }
    }
}

// Posts Page
.post-form {
    textarea {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    align-items: center;
    border-radius: 5px;
    &>div:first-child {
        text-align: center;
    }
    img {
        width: 150px;
    }
}

@import 'mobile';